.genres-artists {
  text-align: center
}

.login {
  text-align: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding: 235px;

}

.logged-in {
  background-color: rgb(105, 105, 105);
  overflow: hidden;
}

h1 {
  font-weight: normal;
  color: black;
  font-size: 20px;
  padding: 7px;
}

.App-header {
  background-color: #222;
  height: 100vh;
}

.App-title {
  font-size: 1.5em;
}

.date {
  float: right;
}

.tooltip {
  position:absolute;
  text-align: inline;
  width: 200px;
  height:auto;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  color: #000000;
  font-family: Armata;
  padding: 6px 12px;
  z-index:3;
}

.tooltip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgb(250, 250, 250);
  position: absolute;
  text-align: center;
  margin: -3px 0 0 0;
  top: 50%;
  left: -50%;
}

.tooltip span {
    display: block;
    text-align: center;
    width: 200px;
    height: auto;
    margin: 5px auto;
  }

#bubble-info {
    width: 200px;
    height: auto;
    margin: 0 auto;
    color: #131313;
    text-align: center;
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
