.App {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100vh;
  font-family: 'Overpass', sans-serif;
}

.background-video {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

